<html>
<title>DNA Tech Core Submission</title>
<head>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  {% include 'material/includes/material_css.html' %}
  {% include 'material/includes/material_js.html' %}
  <script type="text/javascript" src="/static/vendor/materialize/js/materialize.min.js"></script
</head>
  <body class="valign-wrapper2">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DNA Technologies Core Ordering System</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'orders' %}">Orders</a></li>
        <li><a href="{% url 'submission' %}">Submit order</a></li>
      </ul>
    </div>
  </nav>              
<div class="container expand-on-small-only">
  
<div class="row valign change-form">
    <div class="col s12 m12  l12 ">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
</html>