<html>
<title>DNA Tech Core Submission</title>
<head>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  {% include 'material/includes/material_css.html' %}
  {% include 'material/includes/material_js.html' %}
  <script type="text/javascript" src="/static/vendor/materialize/js/materialize.min.js"></script>
  <script src="/static/vendor/angular/angular.min.js"></script>
  <script src="/static/vendor/angular/angular-resource.min.js"></script>
  <script src="/static/js/resources/models.js"></script>
  <script>
  	var app = angular.module('main', []);
  	app.config(['$httpProvider', function($httpProvider) {
  	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
  	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
  	}]);
  	$(document).ready(function(){
		$.ajaxPrefilter(function( options ) {
		    if ( !options.beforeSend) {
		        options.beforeSend = function (xhr) { 
		            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
		        }
		    }
		});
  	});
  </script>
</head>
  <body class="valign-wrapper2" ng-app="main">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DNA Technologies Core Submission System</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'submissions' %}">Submissions</a></li>
        <li><a href="{% url 'submission_types' %}">Submission Types</a></li>
        <li><a href="{% url 'validators' %}">Validators</a></li>
        {% endif %}
        <li><a href="{% url 'submit' %}">Submit</a></li>
      </ul>
    </div>
  </nav>              
<div class="container expand-on-small-only">
  
<div class="row valign change-form">
    <div class="col s12 m12  l12 ">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
</html>