{% extends 'base.html' %}
{% block content %}

<div ng-controller="PrintCtrl as ctrl">
<div class="card-panel">
	<h3>Customize print</h3>
	<h4>Submission {{submission.id}}</h4>
	{{submission.samplesheet.headers}}
		{{submission.type.excluded_fields}}
</div>
</div>

<script>
var app = angular.module('main').
        controller('PrintCtrl', function($scope, Note, Submission,$http) {
            var self = this;
        });
app.config(function($resourceProvider) {
	  $resourceProvider.defaults.stripTrailingSlashes = false;
	});
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
}]);
    		
</script>
{% endblock %}