{% extends 'base.html' %}
{% block content %}


   <!--  <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
     -->
    <!--[if lt IE 9]>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <script src="/static/vendor/angular/angular.min.js"></script>
    <script src="/static/vendor/ng-table/ng-table.min.js"></script>
    <script src="/static/js/services/ng-table-services.js"></script>
    <link rel="stylesheet" href="/static/vendor/ng-table/ng-table.min.css">
    <style>
    .ng-table-counts{
    	float:right;
    	display:inline-block;
    	margin-top: 10px;
    }
    .ng-table-pagination{
    	float:left;
    	display:inline-block;
    	margin-top: 10px;
    }
    </style>
<div ng-app="main">


<div ng-controller="DemoCtrl as demo">
<h3>Orders</h3>
{% verbatim %}
<table ng-table="demo.orderTable" class="table striped" >
   <tr ng-repeat="order in $data">
       <td data-title="'Id'" filter="{ id__icontains: 'text'}"><a href="/orders/{{order.id}}/">{{order.id}}</a></td>
       <td data-title="'Submitted'" sortable="'submitted'">{{order.submitted|date}}</td>
       <td data-title="'Name'" filter="{ name__icontains: 'text'}" sortable="'name'">{{order.name}}</td>
       <td data-title="'Email'" filter="{ email__icontains: 'text'}" sortable="'email'">{{order.email}}</td>
       <td data-title="'PI'" filter="{ pi_name__icontains: 'text'}" sortable="'pi_name'">{{order.pi_name}}</td>
       <td data-title="'Type'" filter="{ type__name__icontains: 'text'}" sortable="'type__name'">{{order.type.name}}</td>
       <td data-title="'#Samples'">{{order.sample_data.length}}</td>
       <td data-title="'#SRA'">{{order.sra_data.length}}</td>
   </tr>
</table>
{% endverbatim %}

    <script>
        var app = angular.module('main', ['ngTable']).
                controller('DemoCtrl', function($scope, NgTableParams,DRFNgTableParams,$http) {
                    var self = this;
                self.orderTable = DRFNgTableParams('/api/orders',{});
                });
       app.run(['$templateCache',
          function($templateCache) {
      $templateCache.put('ng-table/filters/text.html', '<input placeholder="Filter..." type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" ng-if="filter == \'text\'" class="input-filter form-control" />');
         }
        ]);
        		
    </script>
    </div>
    </div>
{% endblock %}