{% extends 'base.html' %}
{% block content %}
<style>
.modal{
  width:90%;
  max-height:90%;
}
</style>
{% if submitted %}
<h3>Order {{order.id}} submitted!</h3>
<p>Communications regarding the order will be sent to {{order.email}}.  Please check your email and click the link to confirm the order.  To inquire on the status of the order, contact dnatech@ucdavis.edu.</p>
<p>You may now upload Bioanalyzer traces, or any other required files <a href="#files">below</a>.</p>
{% else %}
<h3>Order {{order.id}}</h3>
{% endif %}
<table>
<tr><th>Submitted</th><td>{{order.submitted}}</td></tr>
<tr><th>Name</th><td>{{order.name}}</td></tr>
<tr><th>Email</th><td>{{order.email}}</td></tr>
<tr><th>Phone</th><td>{{order.phone}}</td></tr>
<tr><th>PI</th><td>{{order.pi_name}}</td></tr>
<tr><th>PI email</th><td>{{order.pi_email}}</td></tr>
<tr><th>Institute</th><td>{{order.institute}}</td></tr>
{% if order.notes %}<tr><th>Notes</th><td>{{order.notes}}</td></tr>{% endif %}
<tr><th>Type</th><td>{{order.type}}</td></tr>
<tr><th># Samples</th><td><span title="{% for s in order.sample_ids %}{{s}}{% if not forloop.last %}, {% endif %}{% endfor %}">{{order.sample_ids|length}}</span> </td></tr>
<tr>
	<th>Samplesheet</th>
	<td>
	<a id="view_samples" class="modal-trigger btn" href="#samples_modal">View</a>
  <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='download-samples'>Download</a>

  <!-- Dropdown Structure -->
  <ul id='download-samples' class='dropdown-content'>
    <li><a href="{% url 'download' id=order.id %}?data=samples&format=original">Original</a></li>
    <li><a href="{% url 'download' id=order.id %}?data=samples&format=csv">CSV</a></li>
    <li><a href="{% url 'download' id=order.id %}?data=samples&format=xlsx">XLSX</a></li>
    <!-- 
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
	 -->
  </ul>
	</td>
</tr>
{% if order.sra_form %}
<tr><th>SRA samplesheet</th>
	<td>
	<a id="view_sra" class="modal-trigger btn" href="#sra_modal">View</a>
	  <!-- Dropdown Trigger -->
	  <a class='dropdown-button btn' href='#' data-activates='download-sra'>Download</a>
	
	  <!-- Dropdown Structure -->
	  <ul id='download-sra' class='dropdown-content'>
	    <li><a href="{% url 'download' id=order.id %}?data=sra&format=original">Original</a></li>
	    <li><a href="{% url 'download' id=order.id %}?data=sra&format=csv">CSV</a></li>
	    <li><a href="{% url 'download' id=order.id %}?data=sra&format=xlsx">XLSX</a></li>
	    <li class="divider"></li>
	    <li><a href="{% url 'download' id=order.id %}?data=combined&format=csv">Combined CSV</a></li>
	    <li><a href="{% url 'download' id=order.id %}?data=combined&format=xlsx">Combined XLSX</a></li>
	  </ul>
	</td>
</tr>
{% endif %}
<tr><th>Biocore</th><td>{% if order.biocore %}<i class="material-icons" style="color:green">check_circle</i>{% else %}<i class="material-icons" style="color:red">close</i>{% endif %}</td></tr>
</table>
<h4>File attachments</h4>
<div id="files">
{% for f in order.files.all %}
<div><a href={{f.file.url}}>{{f.get_filename}}</a></div>
{% endfor %}
</div>
<input id="fileupload" type="file" name="file" data-url="/api/submission_files/" multiple>
{% include 'partials/modal.html'%}
<script src="/static/vendor/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
<script src="/static/vendor/jquery-file-upload/jquery.iframe-transport.js"></script>
<script src="/static/vendor/jquery-file-upload/jquery.fileupload.js"></script>
<script>




$(document).ready(function(){
	$(function () {
	    $('#fileupload').fileupload({
	        dataType: 'json',
	        done: function (e, data) {
	            $.each(data.result.files, function (index, file) {
	                $('<p/>').text(file.name).appendTo(document.body);
	            });
	        },
	        headers: {
	            'X-CSRFToken': '{{ csrf_token }}'
          	},
          	paramName: 'file',
          	type:'POST',
          	formData:[
          	    {
          	        name: 'submission',
          	        value: '{{order.id}}'
          	    }
          	],
          	done: function (e, data) {
          		$('#files').append('<div><a href="'+data.result.file+'">'+data.result.filename+'</a></div>');
          		console.log('file',data.result);
          	    // data.result
          	    // data.textStatus;
          	    // data.jqXHR;
          	}
	    });
	});
{% if order.samplesheet %}
	var samplesheet = {{order.samplesheet.to_json|safe}};
	var sample_modal = new spreadsheet_modal(samplesheet,{title:'Samplesheet'});
	$('#view_samples').click(function(){
		sample_modal.open();
	});
{% endif %}
{% if order.sra_samplesheet %}
	var sra_samplesheet = {{order.sra_samplesheet.to_json|safe}};
	var sra_modal = new spreadsheet_modal(sra_samplesheet,{title:'SRA Samplesheet'});
	$('#view_sra').click(function(){
		sra_modal.open();
	});
{% endif %}
});

</script>


{% endblock %}