{% extends 'base.html' %}
{% block content %}
<style>
.modal{
  width:90%;
  max-height:90%;
}
</style>
<h3>Order {{order.id}}</h3>
<table>
<tr><th>Submitted</th><td>{{order.submitted}}</td></tr>
<tr><th>Name</th><td>{{order.name}}</td></tr>
<tr><th>Email</th><td>{{order.email}}</td></tr>
<tr><th>Phone</th><td>{{order.phone}}</td></tr>
<tr><th>PI</th><td>{{order.pi_name}}</td></tr>
<tr><th>PI email</th><td>{{order.pi_email}}</td></tr>
<tr><th>Institute</th><td>{{order.institute}}</td></tr>
<tr><th>Type</th><td>{{order.type}}</td></tr>
<tr><th># Samples</th><td><span title="{% for s in order.sample_ids %}{{s}}{% if not forloop.last %}, {% endif %}{% endfor %}">{{order.sample_ids|length}}</span> </td></tr>
<tr>
	<th>Samplesheet</th>
	<td>
	<a id="view_samples" class="modal-trigger btn" href="#samples_modal">View</a>
  <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='download-samples'>Download</a>

  <!-- Dropdown Structure -->
  <ul id='download-samples' class='dropdown-content'>
    <li><a href="{% url 'download' id=order.id %}?data=samples&format=original">Original</a></li>
    <li><a href="{% url 'download' id=order.id %}?data=samples&format=csv">CSV</a></li>
    <li><a href="{% url 'download' id=order.id %}?data=samples&format=xlsx">XLSX</a></li>
    <!-- 
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
	 -->
  </ul>
	</td>
</tr>
{% if order.sra_form %}
<tr><th>SRA samplesheet</th>
	<td>
	<a id="view_sra" class="modal-trigger btn" href="#sra_modal">View</a>
	  <!-- Dropdown Trigger -->
	  <a class='dropdown-button btn' href='#' data-activates='download-sra'>Download</a>
	
	  <!-- Dropdown Structure -->
	  <ul id='download-sra' class='dropdown-content'>
	    <li><a href="{% url 'download' id=order.id %}?data=sra&format=original">Original</a></li>
	    <li><a href="{% url 'download' id=order.id %}?data=sra&format=csv">CSV</a></li>
	    <li><a href="{% url 'download' id=order.id %}?data=sra&format=xlsx">XLSX</a></li>
	    <li class="divider"></li>
	    <li><a href="{% url 'download' id=order.id %}?data=combined&format=csv">Combined CSV</a></li>
	    <li><a href="{% url 'download' id=order.id %}?data=combined&format=xlsx">Combined XLSX</a></li>
	  </ul>
	</td>
</tr>
{% endif %}
</table>

  <!-- Modal Structure -->
  <div id="samples_modal" class="modal">
    <div class="modal-content">
      <h4>Samplesheet</h4>
      <div id="samplesheet_grid" style="height: 100%;width:100%" class="ag-theme-fresh"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn">Close</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="sra_modal" class="modal">
    <div class="modal-content">
      <h4>SRA Samplesheet</h4>
      <div id="sra_grid" style="height: 100%;width:100%" class="ag-theme-fresh"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn">Close</a>
    </div>
  </div>


<script src="https://unpkg.com/ag-grid/dist/ag-grid.min.js"></script>
<script>
function getColumnDefs(headers){
	var cols = headers.map(function(header){return {headerName: header, field: header};});
	return cols;
};

{% if order.samplesheet %}
	var samplesheet = {{order.samplesheet.to_json|safe}};
{% endif %}
{% if order.sra_samplesheet %}
	var sra_samplesheet = {{order.sra_samplesheet.to_json|safe}};
{% endif %}


$(document).ready(function(){
	$('.modal').modal();
	$('#id_sample_form_container.has-error').parent().append('<a id="visualize_sample_errors" class="modal-trigger" href="#samples_modal">Visualize Errors</a>');
	$('#id_sra_form_container.has-error').parent().append('<a id="visualize_sra_errors" class="modal-trigger" href="#sra_modal">Visualize Errors</a>');
	{% if order.samplesheet %}
	var samplesheet_grid = document.querySelector('#samplesheet_grid');
	samplesheet_grid = new agGrid.Grid(samplesheet_grid, {columnDefs:getColumnDefs(samplesheet.headers),rowData:samplesheet.data,domLayout: 'autoHeight'});
	{% endif %}
	$('#view_samples').click(function(){
		$('#samples_modal').modal('open');
	});
	{% if order.sra_samplesheet %}
	var sra_samplesheet_grid = document.querySelector('#sra_grid');
	sra_samplesheet_grid = new agGrid.Grid(sra_samplesheet_grid, {columnDefs:getColumnDefs(sra_samplesheet.headers),rowData:sra_samplesheet.data,domLayout: 'autoHeight'});
	{% endif %}
	$('#view_sra').click(function(){
		$('#sra_modal').modal('open');
	});
	
});

</script>


{% endblock %}