{% extends 'base.html' %}
{% block content %}


   <!--  <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
     -->
    <!--[if lt IE 9]>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <script src="/static/vendor/angular/angular.min.js"></script>
    <script src="/static/vendor/ng-table/ng-table.min.js"></script>
    <script src="/static/js/services/ng-table-services.js"></script>
<div ng-app="main">


<div ng-controller="DemoCtrl as demo">

{% verbatim %}
<table ng-table="demo.tableParams" class="table" >
        <tr ng-repeat="user in $data">
            <td data-title="'Name'" ng-if="true">
                {{user.name}}
            </td>
            <td data-title="'Age'" ng-if="true" filter="{ age: 'text'}">
                {{user.age}}
            </td>
        </tr>
    </table>
<table ng-table="demo.orderTable" class="table" >
        <tr ng-repeat="order in $data">
            <td data-title="'Id'" filter="{ id__icontains: 'text'}">
                {{order.id}}
            </td>
            <td data-title="'Name'" filter="{ name__icontains: 'text'}">
                {{order.name}}
            </td>
        </tr>
    </table>
{% endverbatim %}

<h3>Orders</h3>
<table>
<thead>
<tr><th>ID</th><th>Submitted</th><th>Name</th><th>Email</th><th>PI</th><th>Type</th><th>#Samples</th><th>SRA?</th></tr>
</thead>
<tbody>
{% for o in orders %}
<tr><td><a title="{{o.id}}" href="{% url 'order' id=o.id %}">{{o.id|truncatechars:10}}</a></td><td>{{o.submitted}}</td><td>{{o.name}}</td><td>{{o.email}}</td><td>{{o.pi_name}}</td><td>{{o.type}}</td><td><span title="{% for s in o.sample_ids %}{{s}}{% if not forloop.last %}, {% endif %}{% endfor %}">{{o.sample_ids|length}}</span></td><td>{% if o.sra_form %}<i class="small material-icons" style="color:green">check_circle</i>{% endif %}</td></tr>
{% endfor %}
</tbody>
</table>

    <script>
        var app = angular.module('main', ['ngTable']).
                controller('DemoCtrl', function($scope, NgTableParams,DRFNgTableParams,$http) {
                    var self = this;
                    var data = [{name: "Moroni", age: 50},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34}];
                    self.data = data;
                self.tableParams = new NgTableParams({
                    }, {
                        getData:function(){return data;}
                    });
                self.orderTable = DRFNgTableParams('/api/orders',{});
                self.orderTable_test = new NgTableParams({}, {
        			filterOptions:{filterDelay: 500},
        			getData: function(params) {
        				// ajax request to api
        				return $http.get('/api/orders/').then(function(response){
        					console.log(response.data.results);
        					params.total(response.data.count);
       						return response.data;
        				});
        			}
        		});
                });
        		
    </script>
    </div>
    </div>
{% endblock %}