{% extends 'base.html' %}
{% load material_form %}
{% block content %}

{% if valid%}
<div class="green lighten-4 card-panel">
	<h5>Submission type successfully {% if submission_type %}updated{% else %}created{% endif %}.  Go back to <a href="{% url 'submission_types' %}">submission types</a>.</h5>
</div>
{% endif %}

<div class="card-panel">
{% if submission_type %}
<h3>Edit Submission Type</h3>
{% else %}
<h3>Create Submission Type</h3>
{% endif %}
<form enctype="multipart/form-data" method="POST">
<div class="card-content">
{% csrf_token %}
{% form form=form %}{% endform %}
<button class="btn waves-effect waves-teal">Submit</button>
</div>
</form>
</div>
<div class="card-panel">
<h3>Versions</h3>
</div>
{% endblock %}