{% extends 'base.html' %}
{% block content %}
<div class="card-panel">
<h3>Submission Types <a class="btn right" href="{% url 'create_submission_type' %}">Create</a></h3>
<table>
<thead>
<tr><th>Name</th><th>Template</th><th>Description</th><th>Versions</th></tr>
</thead>
<tbody>
{% for t in submission_types %}
<tr><td><a href="{% url 'update_submission_type' id=t.id %}">{{t.name}}</a></td><td><a href="{{t.form.url}}">Download</a></td><td>{{t.description}}</td><td><a href="{% url 'submission_type_versions' id=t.id %}">{{t.versions.count}}</a></td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}