{% extends 'base.html' %}
{% load material_form %}
{% block content %}
<style>
50% {
  font-size: 200%;
}
.blow-up {
  animation-duration: 1s;
  animation-name: blowup;
}

@keyframes blowup {
  from {
    font-size: 100%; 
  }

  50% {
    font-size: 150%;
  }

  to {
    font-size: 100%;
  }
}
.errors .error{
  display:block;
}
.modal{
  width:90%;
  max-height:90%;
}
</style>
<div class="card">

<form enctype="multipart/form-data" method="POST">
<div class="card-content">
<h4>DNA Tech Core Order Form</h4>
{% csrf_token %}
{% form form=form %}{% endform %}
<button class="btn waves-effect waves-teal">Submit</button>
</div>
</form>
</div>
<div style="display:none">
{% for type in submission_types %}<span id="form_{{type.id}}">Template: <a class="order_form" href="{{type.form.url}}" title="{{type.description}}">{{type.name}}</a></span>{% endfor %}
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Samplesheet errors</h4>
      <p>Errors in <span style="color:red;">red</span>.  Hover over cells to view error details.</p>
      <div id="samplesheet_grid" style="height: 100%;width:100%" class="ag-theme-fresh"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn">Close</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Samplesheet errors</h4>
      <p>Errors in <span style="color:red;">red</span>.  Hover over cells to view error details.</p>
      <div id="sra_grid" style="height: 100%;width:100%" class="ag-theme-fresh"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn">Close</a>
    </div>
  </div>

<script src="https://unpkg.com/ag-grid/dist/ag-grid.min.js"></script>
<script>
function tip(cell){
	  console.log(cell);
	  return 'foobar';
}
function getErrors(data,error_data){
	var col_id = data.colDef.field;
	var row_id = data.data.sample_name;
	if (error_data[col_id] && error_data[col_id][row_id])
		return error_data[col_id][row_id];
	return [];
}
function getColumnDefs(headers,tooltipFunc,styleFunc){
	var cols = headers.map(function(header){return {headerName: header, field: header, tooltip:tooltipFunc,cellStyle:styleFunc};});
	return cols;
};

{% if sample_data %}
	var sample_data = {{sample_data|safe}};
	var sample_headers = {{sample_headers|safe}};
	var sample_errors = {{sample_errors|safe}};
	function getSampleErrors(data){
		return getErrors(data,sample_errors).join('\n');
	}
	function getSampleCellStyle(data){
		var errors = getErrors(data,sample_errors);
		if (errors.length > 0)
			return {backgroundColor:'pink'};
		else
			return null;
	}
{% endif %}
{% if sra_sample_data %}
var sra_sample_data = {{sra_sample_data|safe}};
var sra_sample_headers = {{sra_sample_headers|safe}};
var sra_sample_errors = {{sra_sample_errors|safe}};
function getSRAErrors(data){
	return getErrors(data,sra_sample_errors).join('\n');
}
function getSRACellStyle(data){
	var errors = getErrors(data,sra_sample_errors);
	if (errors.length > 0)
		return {backgroundColor:'pink'};
	else
		return null;
}
{% endif %}





$(document).ready(function(){
	$('.modal').modal();
	$( "select[name=type]").change(function(el) {
		var id = $(this).val();  
		/*
		if (!id)
			$('#template_header').hide();
		else{
			$('#template_header').show();
			$('.order_form').hide();
		*/
		if(id)
			$('#sample_form_help').html($('<span class="blow-up"></span>').html($('#form_'+id).clone()));
		else
			$('#sample_form_help').html('<span class="blow-up">Please select a submission type in order to generate a template.</a').addClass('blow-up');
		});	
	$('#id_sample_form_container.has-error').parent().append('<a id="visualize_sample_errors" class="modal-trigger" href="#modal1">Visualize Errors</a>');
	$('#id_sra_form_container.has-error').parent().append('<a id="visualize_sra_errors" class="modal-trigger" href="#modal2">Visualize Errors</a>');
	{% if sample_data %}
	var samplesheet_grid = document.querySelector('#samplesheet_grid');
	samplesheet_grid = new agGrid.Grid(samplesheet_grid, {columnDefs:getColumnDefs(sample_headers,getSampleErrors,getSampleCellStyle),rowData:sample_data,domLayout: 'autoHeight'});
	{% endif %}
	$('#visualize_sample_errors').click(function(){
		$('#modal1').modal('open');
	});
	{% if sra_sample_data %}
	var sra_samplesheet_grid = document.querySelector('#sra_grid');
	sra_samplesheet_grid = new agGrid.Grid(sra_samplesheet_grid, {columnDefs:getColumnDefs(sra_sample_headers,getSRAErrors,getSRACellStyle),rowData:sra_sample_data,domLayout: 'autoHeight'});
	{% endif %}
	$('#visualize_sra_errors').click(function(){
		$('#modal2').modal('open');
	});
	
});

</script>
{% endblock %}