{% extends 'base.html' %}
{% load material_form %}
{% block content %}
<style>
.modal{
  width:90%;
  max-height:90%;
}
.bar {
    height: 18px;
    background: green;
}
#progress{
	display:none;
}
#files table td{
	padding: 5px;
}
.file-delete,.action{
	cursor: pointer;
}
.toast.error{
background-color:#cc0000;
}
.card .card-title{
  line-height: 24px;
  font-size: 16px;
}
.card .card-content{
  padding: 12px;
}
.note textarea{
  background-color: white;
}
.note label{
  color: #5a5a5a;
}
.note .controls{
  margin-top: 10px;
}
.note-text{
  white-space: pre-wrap;
}
.note .card-title{
  font-weight: bold;
  color: #444;
}
.note-wrapper{
  margin-left:15px;
}
</style>

<div ng-controller="SubmissionCtrl as ctrl">
<div class="card-panel">
{{submission.submission_samplesheet.to_json}}
<span class="right">
	{% if submission.status %}
		{% if request.user.is_authenticated %}
			<!-- Dropdown Trigger -->
			<a class='dropdown-trigger btn' href='#' data-activates='print-button'>Print</a>
			<!-- Dropdown Structure -->
			<ul id='print-button' class='dropdown-content'>
			  <li><a href="{% url 'print_submission' id=submission.id %}">Default</a></li>
			  <li><a href="{% url 'print_submission' id=submission.id %}?vertical">Vertical</a></li>
			  <li><a href="{% url 'customize_print' id=submission.id %}">Custom</a></li>
			</ul>
		{% else %}
			<a class="btn" href="{% url 'print_submission' id=submission.id %}">Print</a>
		{% endif %}
	{% endif %}
	{% if editable %}
		<a class="btn" href="{% url 'update_submission' id=submission.id %}">Modify</a>
	{% endif%}
	{% if request.user.is_authenticated %}
		<a class="btn green" ng-if="!ctrl.submission.locked" title="Click to lock" ng-click="ctrl.lock()"><i class="material-icons left">lock_open</i>Unlocked</a>
		<a class="btn red" ng-if="ctrl.submission.locked" title="Click to unlock" ng-click="ctrl.unlock()"><i class="material-icons left">lock</i>Locked</a>
	{% endif %}
</span>
{% if not submission.status %}
	<h3>Submission pending.</h3>  
	<p>Please confirm using the link emailed to {{submission.email}}.  <b>If you do not confirm within 72 hours, your submission will be cancelled!</b></p>
{% elif confirmed %}
	<h3>Submission confirmed!</h3>
	<p>
		Please print submission details using the print button and package them with your samples.  For delivery instructions, please visit:<br>
		http://dnatech.genomecenter.ucdavis.edu/sample-submission-scheduling/
	</p>
	<p>If you need to make any modifications to your submission, please do so before printing out the submission details.</p>
	<p>You may also upload Bioanalyzer traces, or any other required files <a href="#files">below</a>.</p>
	<p>
		For future reference, you can view your order at the followign URL:<br>
		{{BASE_URI}}{{submission.get_absolute_url}}
	</p>
{% else %}
	<h3>
		Submission {{submission.id}}
	</h3>
{% endif %}



<table>
<tr><th>Internal ID</th><td>{{submission.internal_id}}</td></tr>
<tr><th>Participants</th><td>{% for u in submission.participants.all %}{{u}}{% if not forloop.last %}, {% endif %}{% empty %}<b>Not assigned</b>{% endfor %}</td></tr>
{% if status_form %}
<tr>
	<th>Status</th>
	<td>
		<form id="status-form">
			{% form form=status_form %}{% part form.status label %}{% endpart %}{% endform %}
		</form>
	</td>
</tr>
{% else %}
<tr><th>Status</th><td>{{submission.status.name}}</td></tr>
{% endif %}
<tr><th>Submitted</th><td>{{submission.submitted}}</td></tr>
<tr><th>Updated</th><td>{{submission.updated}}</td></tr>
<tr><th>Name</th><td>{{submission.name}}</td></tr>
<tr><th>Email</th><td>{{submission.email}}</td></tr>
<tr><th>Phone</th><td>{{submission.phone}}</td></tr>
<tr><th>PI</th><td>{{submission.pi_name}}</td></tr>
<tr><th>PI email</th><td>{{submission.pi_email}}</td></tr>
<tr><th>Institute</th><td>{{submission.institute}}</td></tr>
{% if submission.notes %}<tr><th>Notes</th><td>{{submission.notes}}</td></tr>{% endif %}
<tr><th>Type</th><td>{{submission.type}}</td></tr>
<tr><th># Samples</th><td><span title="{% for s in submission.sample_ids %}{{s}}{% if not forloop.last %}, {% endif %}{% endfor %}">{{submission.sample_ids|length}}</span> </td></tr>
<tr>
	<th>Samplesheet</th>
	<td>
	<a id="view_samples" class="modal-trigger btn" href="#samples_modal">View</a>
  <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='download-samples'>Download</a>

  <!-- Dropdown Structure -->
  <ul id='download-samples' class='dropdown-content'>
    <li><a href="{% url 'download' id=submission.id %}?data=samples&format=original">Original</a></li>
    <li><a href="{% url 'download' id=submission.id %}?data=samples&format=csv">CSV</a></li>
    <li><a href="{% url 'download' id=submission.id %}?data=samples&format=xlsx">XLSX</a></li>
    <!-- 
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
	 -->
  </ul>
	</td>
</tr>
{% if submission.sra_form %}
<tr><th>SRA samplesheet</th>
	<td>
	<a id="view_sra" class="modal-trigger btn" href="#sra_modal">View</a>
	  <!-- Dropdown Trigger -->
	  <a class='dropdown-button btn' href='#' data-activates='download-sra'>Download</a>
	
	  <!-- Dropdown Structure -->
	  <ul id='download-sra' class='dropdown-content'>
	    <li><a href="{% url 'download' id=submission.id %}?data=sra&format=original">Original</a></li>
	    <li><a href="{% url 'download' id=submission.id %}?data=sra&format=csv">CSV</a></li>
	    <li><a href="{% url 'download' id=submission.id %}?data=sra&format=xlsx">XLSX</a></li>
	    <li class="divider"></li>
	    <li><a href="{% url 'download' id=submission.id %}?data=combined&format=csv">Combined CSV</a></li>
	    <li><a href="{% url 'download' id=submission.id %}?data=combined&format=xlsx">Combined XLSX</a></li>
	  </ul>
	</td>
</tr>
{% endif %}
<tr><th>Analysis by<br>Bioinformatics Core</th><td>{% if submission.biocore %}<i class="material-icons" style="color:green">check_circle</i>{% else %}<i class="material-icons" style="color:red">close</i>{% endif %}</td></tr>
</table>

</div>
{% if submission.status %}
<div class="card-panel">
<h4>File attachments</h4>

<div id="progress">
	<h5>Upload progress</h5>
    <div class="bar" style="width: 0%;"></div>
</div>
<div id="files">
<table>
{% for f in submission.files.all %}
<tr file-id="{{f.id}}"><td>{% if editable %}<i class="file-delete material-icons dp16">delete</i> {% endif %}{{f.formatted_date}}</td><td><a href={{f.file.url}}>{{f.get_filename}}</a></td><td>{{f.formatted_size}}</td></tr>
{% endfor %}
</table>
{% if editable %}
<div class="input-field file-field">
        <div class="btn">
            <span>Upload</span>
            <input id="fileupload" class="btn" type="file" name="file" data-url="/api/submission_files/" multiple>
        </div>
    </div>
{% endif %}
</div>

<div style="clear:both"></div>
</div>
<div  class="card-panel">
	<submission-notes submission-id="{{submission.id}}" {% if request.user.is_authenticated %}user="{{request.user.id}}"{% endif %}></submission-notes>
</div>
{% endif %}
</div>
{% include 'partials/modal.html'%}
<script src="/static/vendor/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
<script src="/static/vendor/jquery-file-upload/jquery.iframe-transport.js"></script>
<script src="/static/vendor/jquery-file-upload/jquery.fileupload.js"></script>
<script>




$(document).ready(function(){
	$('.dropdown-trigger').dropdown();
	console.log('print',$('.dropdown-trigger'));
{% if editable %}
	$(function () {
	    $('#fileupload').fileupload({
	        dataType: 'json',
	        done: function (e, data) {
	            $.each(data.result.files, function (index, file) {
	                $('<p/>').text(file.name).appendTo(document.body);
	            });
	        },
	        headers: {
	            'X-CSRFToken': '{{ csrf_token }}'
          	},
          	paramName: 'file',
          	type:'POST',
          	formData:[
          	    {
          	        name: 'submission',
          	        value: '{{submission.id}}'
          	    }
          	],
          	done: function (e, data) {
          		$('#files table').append('<tr file-id="'+data.result.id+'"><td><i class="file-delete material-icons dp16">delete</i> '+data.result.date+'</td><td><a href="'+data.result.file+'">'+data.result.filename+'</a></td><td>'+data.result.size+'</td></tr>');
          		console.log('file',data.result);
          		Materialize.toast(data.result.filename+' uploaded',3000);
          	    // data.result
          	    // data.textStatus;
          	    // data.jqXHR;
          	},
          	fail: function (e, data) {
          		console.log('file',data.files);
          		$.each(data.files,function(index,file){Materialize.toast('Upload failed for '+file.name,5000,'error')});
          		//$.toast({text:'Upload failed for '+data.result.filename,position:'top-center',icon:'error'})
          	    // data.result
          	    // data.textStatus;
          	    // data.jqXHR;
          	},
          	progressall: function (e, data) {
          		$('#progress').show();
          		var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            }
	    });
	});
	
	function delete_file(id){
		$.ajax('/api/submission_files/'+id+'/',{type: 'DELETE'})
		.done(function(){
			$('[file-id='+id+']').closest('tr').remove();
			Materialize.toast("File deleted",5000);
		})
		.fail(function(){
			Materialize.toast("Error deleting file",5000,'error');
		});
	}
	$( "#files table" ).on( "click",".file-delete", function() {
	  	if (confirm('Are you sure you want to delete this file?'))
	  		delete_file($( this ).closest('tr').attr('file-id'));
	});
{% endif %}
{% if submission.samplesheet %}
	var samplesheet = {{submission.samplesheet.to_json|safe}};
	var sample_modal = new spreadsheet_modal(samplesheet,{title:'Samplesheet'});
	$('#view_samples').click(function(){
		sample_modal.open();
	});
{% endif %}
{% if submission.sra_samplesheet %}
	var sra_samplesheet = {{submission.sra_samplesheet.to_json|safe}};
	var sra_modal = new spreadsheet_modal(sra_samplesheet,{title:'SRA Samplesheet'});
	$('#view_sra').click(function(){
		sra_modal.open();
	});
{% endif %}
	
});

</script>

<script>
var app = angular.module('main', ['Models']).
        controller('SubmissionCtrl', function($scope, Note, Submission,$http) {
            var self = this;
            {% if request.user.is_authenticated %}
            self.authenticated = true;
            {% endif %}
        	self.notes = Note.query({submission:'{{submission.id}}',page_size:100});
        	self.submission = Submission.get({id:'{{submission.id}}'});
        	
        	$('select[name=status]').change(function(data){
        		$.post('/api/submissions/{{submission.id}}/update_status/',
        				{status:this.value,email:$('[name=send_email]').is(":checked")?true:null},
        				function(data){
        					console.log(self.submission,data);
        					self.submission.locked=data.locked;
        					$scope.$apply();
        					Materialize.toast(data.message,5000);
        				}
        		);
        	});
        	
        	self.lock = function(){
        		$http.post('/api/submissions/{{submission.id}}/lock/')
        			.then(
        					function(){Materialize.toast('Submission locked.',5000);self.submission.locked=true;},
        					function(){Materialize.toast('Error locking submission!',5000)},
       				);
        	}
        	self.unlock = function(){
        		$http.post('/api/submissions/{{submission.id}}/unlock/')
        			.then(
        					function(){Materialize.toast('Submission unlocked.',5000);self.submission.locked=false;},
        					function(){Materialize.toast('Error unlocking submission!',5000)},
       				);
        	}
        });
app.config(function($resourceProvider) {
	  $resourceProvider.defaults.stripTrailingSlashes = false;
	});
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
}]);
    		
</script>
<script src="/static/js/directives/notes.js"></script>
{% endblock %}