[submodule "spa"]
	path = spa
	url = https://github.com/amschaal/submissions-spa-2
#	url = git@github.com:amschaal/submissions-spa-2.git
#[submodule "bioshare"]
#	path = bioshare
#	url = git@github.com:amschaal/bioshare_coreomics_plugin.git
