Django==1.11.7
PyYAML==3.12
django-cors-headers==2.3.0
django-filter==1.1.0
django-sendfile==0.3.11
djangorestframework==3.7.7
djangorestframework-filters==0.10.2
jsonschema==3.0.0a1
psycopg2==2.7.4
tablib==0.12.1
