<div class="note-wrapper" ng-repeat="note in getResponses(note)|orderBy:'-id'">
	<div class="{{getClasses(note)}} card horizontal note" ng-if="note" id="note-{{note.id}}">
		<div class="card-stacked">
	        <div class="card-content" ng-if="note.id && !note.edit">
	          <span class="card-title">{{note.created|date:"short"}} - {{getTypeText(note)}} {{getEmailsText(note)}}<span class="right"><i class="material-icons tiny">person</i> {{note.user}}</span></span>
	          <p class="note-text">{{note.text}} <span class="right"><i title="reply" class="material-icons tiny action" ng-click="reply(note)">reply</i> <i ng-if="note.can_modify" title="edit" class="material-icons tiny action" ng-click="note.edit=true;">edit</i> <i ng-if="note.can_modify" title="delete" ng-click="deleteNote(note)" class="material-icons tiny action">delete</i></span></p>
	        </div>
	        <div class="card-content" ng-if="!note.id">
	          <form>
	          <p><textarea ng-model="note.text"></textarea></p>
	          <div class="left controls" ng-if="user">
	          	<label title="Select if you only want internal users to see this note."><input type="checkbox" ng-model="note.public" ng-true-value="false" ng-false-value="true"/><span>Private</span></label> <label ng-if="note.public" title="Select if you want to email the submitter."><input type="checkbox" ng-model="note.send_email"/><span>Email Submitter</span></label>
	          </div>
	      	<div class="right controls"><button class="btn red btn-small" ng-click="deleteNote(note)">Delete</button> <button class="btn  green darken-1 btn-small" ng-click="save(note)">Save</button></div>
	          </form>
	        </div>
	        <div class="card-content" ng-if="note.edit">
	          <form>
	          <p><textarea ng-model="note.text"></textarea></p>
	          <div class="left controls">
	          	<label><input type="checkbox" ng-model="note.public" ng-true-value="false" ng-false-value="true"/><span>Private</span></label>
	          </div>
	          <div class="right controls"><button class="btn green darken-1" ng-click="save(note)">Save</button></div>
	          </form>
	        </div>
		</div>
	</div>
	<ng-include src="'/static/templates/notes.html'"></ng-include>
</div>