  <!-- Modal Structure -->
  <div id="modal_base" class="modal">
    <div class="modal-content">
      <h4 class="title">Title</h4>
      <div class="modal-body"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn">Close</a>
    </div>
  </div>

<script src="https://unpkg.com/ag-grid/dist/ag-grid.min.js"></script>
<script>
function getErrorFuncs(samplesheet){
	
	function getErrors(data,error_data){
		var col_id = data.colDef.field;
		if (samplesheet.list !== false){
			if (!samplesheet.data.data[data.node.rowIndex])
				return [];
			var row_id = samplesheet.data.data[data.node.rowIndex].sample_name;
			if (error_data[col_id] && error_data[col_id][row_id])
				return error_data[col_id][row_id];	
		}else{
			if (error_data[col_id])
				return [error_data[col_id]];	
		}
		return [];
	}
	function getColumnDefs(headers,tooltipFunc,styleFunc){
		var cols = headers.map(function(header){return {headerName: header, field: header, tooltip:tooltipFunc,cellStyle:styleFunc};});
		//console.log('cols',cols);
		return cols;
	}
	function getCellErrors(cell_data){
		var errors = getErrors(cell_data,samplesheet.data.errors).join('\n');
		if (errors.length > 0)
			console.log(cell_data.colDef.field,cell_data.rowIndex,errors);
		return errors;
	}
	function getCellStyle(cell_data){
		var errors = getErrors(cell_data,samplesheet.data.errors);
		console.log('*',cell_data.colDef.field,cell_data.rowIndex,errors);
		if (errors.length > 0){
			return {backgroundColor:'pink'};
		}
		else
			return null;
	}
	return {
		'getCellErrors':getCellErrors,
		'getCellStyle':getCellStyle,
		'getColumnDefs':getColumnDefs,
		'getErrors':getErrors
	}
}


function spreadsheet_modal(samplesheets,params){
	this.samplesheets = samplesheets;
	this.initialized = false;
	//this.data = data;
	this.params = params ? params : {};
	
	if (!this.params.modal){
		this.modal_el = $('#modal_base').clone().appendTo('body')[0];
		//this.grid_el = $(this.modal_el).find('.samplesheet_grid')[0];
		if (this.params.title)
			$(this.modal_el).find('.title').html(this.params.title);
		if (this.params.body)
			$(this.modal_el).find('.modal-body').html(this.params.body);
	}else
		this.modal_el = $(this.params.modal);
	$(this.modal_el).modal();
	this.open = function(){
		if (!this.initialized){
			for (var i in this.samplesheets){
				var samplesheet = this.samplesheets[i];
				console.log(i,samplesheet);
				var container = $('<div class="table_container" style="height: 100%;width:100%"><h5>'+samplesheet.header+'</h5></div>').appendTo($(this.modal_el).find('.modal-body'))[0];
				var grid_el = $('<div class="samplesheet_grid" style="height: 100%;width:100%"></div>').addClass('ag-theme-fresh').appendTo(container)[0];
				var error_funcs = getErrorFuncs(samplesheet);
				if (samplesheet.list === false)
					var data = [samplesheet.data.data];
				else
					var data = samplesheet.data.data;
				if (this.params.error)
					self.grid = new agGrid.Grid(grid_el, {columnDefs:error_funcs.getColumnDefs(samplesheet.data.headers,error_funcs.getCellErrors,error_funcs.getCellStyle),rowData:data,domLayout: 'autoHeight'});
				else
					self.grid = new agGrid.Grid(grid_el, {columnDefs:error_funcs.getColumnDefs(samplesheet.data.headers),rowData:data,domLayout: 'autoHeight'});
			}
			this.initialized = true;
		}
		//console.log('this',this);
		$(this.modal_el).modal('open');
	}
}
</script>